.centered {
    width: 100%;
    height: 700px;
    top: 50px;
    color: white;
    background-image: url("CvJhDpV65gSfmN54ueudWU.jpeg");
    background-size: cover;
    -webkit-background-size:cover;
    background-position: center center;
    position: absolute;
    font-family:sans-serif;
    background-attachment: fixed;
  }
  button a{
    text-decoration: none;
    color: white;
  }
  div button{
    height:50px;
    width:200px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
  }
  div button:hover{
    background-color: rgb(43, 37, 37);
  }
  .centered h1 {
    text-align: center;
    font-weight:900;
    font-size: 40px;
    word-spacing: 6px;
    margin-top: 10px;
    text-shadow: 3px 3px black;
  }
  .centered img{
    padding-top: 100px;
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @keyframes TransitionIn {
      from{
          opacity: 0;
          transform: translateY(-10px);
      }
      to {
          opacity: 1;
          transform: translateY(0px);
      }
  }
  body{
      animation: TransitionIn 0.8s;
      margin: 0px;
  }
  .topnav {
    background-color: black;
    position:fixed;
    z-index: 12;
    width: 100%;
    height: 70px;
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    background-color: #011d37;
    color: white;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  #div1 {
    background-color: whitesmoke;
    height: 800px;
    width: 100%;
  }
  #div2 {
    background-color: whitesmoke;
    height: 300px;
    width: 100%;
  }
  #steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #info h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
  }
  #right-job {
    width: 20%;
    text-align: center;
    font-size: 20px;
    color: #044caa;
    font-weight: 900;
  }
  #research{
    width: 20%;
    text-align: center;
    font-size: 20px;
    color:#044caa;
    font-weight: 900;
  }
  #salary{
    text-align: center;
    width: 20%;
    font-size: 20px;
    color:#044caa;
    font-weight: 900;
  }
  #apply {
    width: 20%;
    text-align: center;
    font-size: 20px;
    color:#044caa;
    font-weight: 900;
  }
  #right-job img{
    background-color: whitesmoke;
    height: 90px;
    width: 90px;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 8px;
  }
  #research img{
    background-color: whitesmoke;
    height: 80px;
    width: 80px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  #salary img{
    background-color: whitesmoke;
    height: 80px;
    width: 80px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  #apply img{
    background-color: whitesmoke;
    height: 100px;
    width: 120px;
    text-align: center;
  }
  #gap {
    width: 100%;
    height: 150px;
  }
  #div2-1 {
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px; 
    background-color: whitesmoke;
    text-align: center;
    width:80%
  }
  #div2-1 span {
    font-size: 25px;
    font-weight: 800;
    color:#044caa
  }
  #div2-1 #span2 {
    float: right;
    padding-right: 110px;
    padding-top: 11%;
    font-size: 30px;
    padding-bottom: 10%;
    padding-left: 0px;
    text-decoration: none;
    font-weight: 400;
    color: black;
  }
  #div2-1 img{
    height: 320px;
    width:33%;
    padding-top: 6%;
    padding-bottom: 2%;
    border-top-left-radius: 130px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 130px;
    border-bottom-right-radius: 80px;
    margin-right: 0px;
  }
  #div2-1 button{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    width: 160px;
  }
  #div2-1 h2{
    padding-bottom: 10px;
    text-decoration:wavy;
    font-size: 35px;
    color: black;
    padding-top: 20px;
  }
  #div2-2 {
    height: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    text-align: center;
    width:100%;
  }
  #div2-2 span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    color:#044caa;
  }
  #div2-2 #span2-2 {
    float: right;
    padding-right: 60px;
    padding-top: 11%;
    font-size: 30px;
    padding-bottom: 10%;
    padding-left: 0px;
    text-decoration: none;
    font-weight: 400;
    color: black;
  }
  #div2-2 img{
    height: 320px;
    width:33%;
    padding-top: 6%;
    padding-bottom: 2%;
    border-top-left-radius: 130px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 130px;
    border-bottom-right-radius: 80px;
    margin-left: 30px;
  }
  #div2-2 button{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    width: 160px;
  }
  #div2-3 {
    height: 500px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    text-align: center;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    width:100%;
  }
  #div2-3 span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    color:#044caa;
  }
  #div2-3 #span2-3{
    float: right;
    padding-right: 130px;
    padding-top: 15%;
    font-size: 30px;
    padding-bottom: 10%;
    padding-left: 0px;
    text-decoration: none;
    font-weight: 400;
    color: black;
  }
  #div2-3 img{
    height: 320px;
    width:33%;
    padding-top: 6%;
    padding-bottom: 2%;
    border-top-left-radius: 130px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 130px;
    border-bottom-right-radius: 80px;
    float: left;
    margin-left: 137px;
  }
  #div2-3 button{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    width: 160px;
  }
  #gap2 {
    width: 100%;
    height: 1900px;
    color: white;
  }
  #end {                 /*end pro placement box starts here*/
    width: 100%;
    height: 300px;
    background-color: #011d37;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  #end img{
    float: left;
    width: 500px;
    height:100%;
  }
  #one h3{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    color: white;
  }
  .link a{
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    text-decoration: underline;
  }
  .link a:hover{
    cursor:default;
    color:#0068f0;
  }
  .fa-facebook{
    color: white;
    text-decoration: none;
  }
  .fa-linkedin{
    color: white;
    text-decoration: none;
  }
  .fa-instagram{
    color: white;
    text-decoration: none;
  }
  .fa-twitter {
    color: white;
    text-decoration: none;
  }                                /* till here */
  #reviews {
    text-align: center;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
    background-image: url("CvJhDpV65gSfmN54ueudWU.jpeg");
    background-size: cover;
  }
  #reviews h2 {
    padding-top: 5vh;
    color: white;
    letter-spacing: 2px;
    text-shadow: 2px 3px black;
    font-size: 30px;
  }
  #review-cards {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  .cards {
    width: 22%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    border-radius: 50px;
    box-shadow: black 4px 6px;
    transition: transform 500ms ease;
  }
  .cards:hover{
    transform: scale(1.2);
  }
  .people {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  #person-1{
    background-image: url(https://wallpapercave.com/wp/wp8295850.png);
    background-position: center;
    background-size: cover;
  }
  #person-2{
    background-image: url(https://wallpaperaccess.com/full/260833.jpg);
    background-position: center;
    background-size: cover;
  }
  #person-3 {
    background-image: url(https://cutewallpaper.org/21/animated-pictures-of-girl/What-would-you-look-like-if-you-were-a-cartoon-character-.jpg);
    background-position: center;
    background-size: cover;
  }
  .checked {
    color: orange;
  }
  #stars {
    height: fit-content;
    width: fit-content;
    padding-top: 30px;
  }
  #companies {
    width: 100%;
    height: 300px;
    text-align: center;
  }
  #companies-logos {
    width: 95%;
    margin: auto;
    height: 80%;
    display: flex;
    justify-content: center;
  }
  ::placeholder { 
    color: black;
    opacity: 1; 
  }
  #news {
    background-color: #044caa;
    box-shadow: black 4px 2px;
    font-size: 25px;
  }
  #news:hover{
    background-color:#176cdb;
  }
  
  #demo{
    color: #f2f2f2;
    text-align: center;
    padding: 26px 26px;
  }